*{box-sizing: border-box; background-color:beige;
list-style: none;}
p{font-family:sans-serif;
margin-left: 4%;
margin-right: 4%;
font-size: x-large;}
div{text-align: center;
}

 div:hover .imagen {
    -webkit-transform:scale(1.3);transform:scale(1.3);}
    .div {overflow:hidden;}
  
    div:hover .imagen_grande {
        -webkit-transform:scale(0.8);transform:scale(0.8);}
        .div {overflow:hidden;}

  